
.login-container {

  * {
    background: transparent !important;
    color: aliceblue !important;
  
  }
}
.logout-container {

  * {
    background: transparent !important;
    color: aliceblue !important;
  
  }
}