
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'ng-zorro-antd/ng-zorro-antd.min.css';


html {
  margin: 0;
  padding: 0;
  border: 0;
   height: 100%;


}

* {
  font-family: 'Electrolize', sans-serif;
}