.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content:center;
    gap: 1.075%;
    row-gap: 20px;
    margin: 5%;

    ::ng-deep .ant-card {
        width: 320px !important;
        background: rgba(7, 168, 255, 0.087) !important;
        border-color: #1fe5ff !important;
        border-radius: 12px !important;
        box-shadow: 0 0 20px #1fe5ff !important;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 30px #1fe5ff !important;
            transform: translateY(-15px);
        }
    }
    ::ng-deep .ant-card-head{
        font-size: 1.5rem;
        border-bottom: 2px solid rgba(31, 229, 255,.2) !important;
        }
    ::ng-deep .ant-card-head *{
        background: transparent;
        color: aliceblue !important;
        }
        .card-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;  // aligns to top instead of center
        }

        .type {
        font-size: 0.875rem;
        opacity: 0.5;
        }

        .amount {
        padding-top: 20px;
        font-size: 2.0rem;
        font-weight: bold;
        }
    ::ng-deep .ant-card-body *{
        color: aliceblue !important;
        }

    ::ng-deep .ant-card-extra *{
        color: aliceblue !important; 
        }
        .add-account{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #1fe5ff !important;
            border-radius: 12px !important;
            width: 320px !important;
            box-shadow: 0 0 20px #1fe5ff !important;

            .plus-icon{
                font-size: 5rem;
                color: rgb(32, 151, 255) !important;
                    ::ng-deep svg {
                        width: 1em;        // inherits font-size from parent
                        height: 1em;
                        fill: rgba(7, 187, 190, 0.448) !important;
                    }
            }
                &:hover{
                    cursor: pointer;
                    transition: all 0.3s ease;
                    box-shadow: 0 0 30px #1fe5ff !important;
                    transform: translateY(-15px);

                    .plus-icon{
                        transition: all 0.3s ease;
                        scale: 1.3;
                    }
                }
        }

}