<footer class="footer">
<div class="footer-items">
        <ul>
            <li class="logo-color">
                <img src="AssetTracker-Logo.png" alt="lOGO" height="20px" width="30px">
                AssetTracker
            </li>
            <li>A web app to manage and track all your financial accounts, 
            from bank accounts to investment portfolios. 
            Analyze and monitor where your money is and what it's doing.
            </li>
        </ul>
            <ul>
            <li>Socials</li>
            <li><span nz-icon nzType="instagram" nzTheme="outline"></span> Instagram</li>
            <li><span nz-icon nzType="discord" nzTheme="outline"></span> Discord</li>
            <li><span nz-icon nzType="linkedin" nzTheme="outline"></span> LinkedIn</li>
            <li><span nz-icon nzType="github" nzTheme="outline"></span> Github</li>
            <li><span nz-icon nzType="pause-circle" nzTheme="outline"></span> CricClubs</li>
            </ul>
            <ul>
            <li>Help</li>
            <li>Contact Us</li>
            <li>Customer Service</li>
            <li>Donations</li>
            <li>Payment</li>
        </ul>
        <ul>
            <li>About</li>
            <li>Mission Statement</li>
            <li>Company</li>
            <li>Updates</li>
        </ul>

</div>
  <p>Asset Tracker ©2026 Created by Samad</p>
</footer>