<nav class="navbar">
  <div class="navbar-logo">
   <a routerLink="/">
  <img src="AssetTracker-Logo.png" alt="Logo"> 
  </a>
  <span class="title">AssetTracker</span>
  </div>
<div class="spacer"></div>
  <div class="navbar-list">
    <ul>
      <li *ngIf="authService.isLoggedIn$ | async"><a routerLink="/accounts" routerLinkActive="active" class="navbar-link">Accounts</a></li>
      <li *ngIf="authService.isLoggedIn$ | async"><a routerLink="/transactions" routerLinkActive="active" class="navbar-link">Transactions</a></li>
       <span class="profile-logo"><li><a routerLink="/login" routerLinkActive="active" class="navbar-link"><span nz-icon nzType="user" nzTheme="outline" class="user-icon" ></span></a></li></span>
    </ul>
  </div>
</nav>
